body
{
	background:url(images/bg.gif) repeat #000000;
	padding:0;
	font-family:arial, sans-serif;
	font-size:12px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
p{
	padding:0px;
	margin:0px;
	line-height:20px;
	color: #666;
	text-align: left;
}
p.welcome{
padding:30px 35px 0 35px;
}
p.testimonial{
font-style:italic;
padding:5px 15px 0 5px;
}
.clear{
	clear:both;
}
a{
text-decoration:underline;
}
a.read_more{
display:block;
width:66px;
height:23px;
line-height:23px;
text-align:center;
color:#fff;
float:right;
margin:10px 40px 0 0;
padding:0 0 0 17px;
text-decoration:none;
font-size:12px;
background:url(images/read_more_bg.gif) no-repeat center;
}
a:hover.read_more{
text-decoration:underline;
}
img.left_img{
float:left;
padding:3px 25px 3px 3px;
}

#main_container{
	width:821px;
	height:auto;
	margin:auto;
	padding:0px;
}
#header{
	width:820px;
	height:150px;
	margin:0px;
	padding:0px;
	background-image: url(images/header_tecnicosaurios.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.logo{
	padding:0px 0 0 0px;
}
.title{
	width: auto;
	padding:2px 0 10px 0;
	font-size:16px;
	color:#333;
	font-weight: bold;
	text-align: left;
}
.title_welcome{
width: auto;
padding:0 0 0 35px;
font-size:22px;
color:#24a4b3;
background:url(images/checked.gif) no-repeat left top;
margin:0 0 10px 25px;
}
span.red{
font-weight:bold;
color:#da5b23;
}
span.orange{
font-weight:bold;
color:#da5b23;
}

/*---------------- menu tab----------------------*/
.menu{
width:821px;
height:42px;
margin:0px;
background:url(images/menu_bg.gif) no-repeat left;
}
.menu ul{
list-style:none;
padding:0 0 0 15px;
margin:0px;
}
.menu ul li{
display:inline;
}
.menu ul li a{
float:left;
height:42px;
border:none;
padding:0 15px 0 15px;
text-decoration:none;
color:#fff;
line-height:42px;
font-size:14px;
}
.menu ul li.selected a{
float:left;
height:42px;
border:none;
padding:0 15px 0 15px;
text-decoration:none;
color:#fff;
line-height:42px;
font-size:14px;
background:url(images/menu_bullet.gif) no-repeat bottom center;
}
.menu ul li a:hover{
background:url(images/menu_bullet.gif) no-repeat bottom center;
}

/*-------------welcome_box------------*/
.welcome_box{
	width:450px;
	height:200px;
	background:url(images/welcome_box.gif) no-repeat center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}
/*---------------center_content-------*/
.center_content{
	width:auto;
	height:auto;
	clear:none;
	background-color:#e9e5e2;
	text-align: left;
	color: #666;
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0;
}
.center_left{
	width:500px;
	float:left;
	padding:0px 0 0px 10px;
}
.center_right{
	width:300px;
	float:left;
	padding:10px 0 10px 0px;
}
.software_box{
	width:187px;
	height:250px;
	padding-right: 0;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-top: 50px;
}
.features{
padding:10px 0 0 30px;
}
.news_box{
	float:left;
	width:auto;
	border-bottom:1px #CCCCCC dashed;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 8px;
	padding-left: 0;
}
.news_icon{
width:30px;
height:33px;
float:left;
background:url(images/news_icon.gif) no-repeat center;
}
.news_content{
width:400px;
float:left;
text-align:justify;
line-height:20px;
padding:0 0 0 10px;
}
/*----------------------list-------------------------*/
ul.list{
list-style:none;padding:0px;margin:0px; 
}
ul.list li{
list-style:none;width: auto;height: auto;padding:0px; margin:8px 0 8px 0;
}
ul.list li a{
height:24px; width: auto; padding:0 0 0 15px; margin:0;color:#36322b;text-align:left;line-height:24px;
text-decoration:none;
}
ul.list li span{
height:24px; width:24px; display:block;padding:0px; margin:0px;color:#000;text-align:center; float:left; float:left; line-height:24px;
background:url(images/bullet_list.gif) no-repeat left;
}
ul.list li a:hover{
text-decoration:underline;
}
.testimonials{
padding:20px 0 20px 0;
}
/*-------------------footer------------------------*/
#footer{
	width:821px;
	height:50px;
	clear:both;
}
.left_footer{
float:left;
padding:20px 0 0 0;
}
#footer a{
color:#837d7b;
padding:0 8px 0 8px;
text-decoration:none;
}
.right_footer{
float:right;
padding:15px 5px 0 0 ;
}
#main_container .center_content .center_left .features .news_box .news_content {
	color: #201D1B;
	font-weight: bold;
}
#main_container .center_content .center_left .features .news_box .news_content {
	color: #333;
}
#main_container .center_content .center_left .features .news_box .news_content {
	color: #333;
}
#main_container .center_content .center_right .software_box table tr td {
	text-align: center;
	font-size: 14px;
}
#main_container .center_content table tr th {
	color: #333;
}
#main_container .center_content table tr td p strong {
	color: #C00;
	font-size: 14px;
}
#main_container .center_content .center_left .features .title .login_input {
	color: #333;
}
#main_container .center_content table tr th .title {
	color: #090;
}
#main_container .center_content table tr td .Estilo1 u {
	color: #333;
}
#main_container .center_content table tr th p .Estilo12 .Estilo5 {
	font-size: 10px;
}
#main_container .center_content table tr th p .Estilo12 .Estilo5 {
	font-size: 12px;
}
.numeros_reglamento {
	color: #003;
	font-weight: bold;
}
#main_container .center_content table tr td div .Estilo15 {
	font-size: 15px;
	font-weight: bold;
}
